@charset "UTF-8";

/* header */
header {width:100%; height:44.5rem; margin-bottom: 10rem; background: #ddd;}

header .gnb_wrap {font-family: var(--f_scd);}

header .visual_wrap {font-family: var(--f_prt);}
header .visual_wrap h2 {}
header .visual_wrap .location li {}

/* footer */
footer {width:100%; height:25rem; background: #ddd;}

/* sub - content 공통사용*/
.container {position: relative; width:100%; font-family: var(--f_prt);}
.article_box {position: relative; width:100%; height: auto; margin-bottom: 10rem;}
.title_wrap {width: 100%; max-width:140rem; margin:0 auto;}
.item_wrap {width: 100%; max-width:140rem; height:auto; margin: 5rem auto;}
.item_wrap.type2 {display: flex; align-items: center; justify-content: space-between;}

/* 박물관소개 - list */
.article_box .img_thumb {position: relative; width: 100%; max-width:140rem; overflow: hidden; background: #F2F2F2;}
.article_box .img_thumb img {display: block;}

.article_box .title_wrap.type1 {display: flex;align-items: center;justify-content: space-between;}
.article_box .title_wrap.type1 .intro_txt {width: calc(100% - 18rem);}
.article_box .title_wrap.type1 .intro_txt h3 {margin-bottom: 1.5rem; font-family: var(--f_mag); font-size: 5rem; font-weight: normal; color: var(--c_blue_m);}

/* 박물관소개 - 개별페이지 */
.title_wrap.type2 h3 {display: flex; flex-direction: column; font-family: var(--f_mag); font-size: 7rem; font-weight: normal; color: var(--c_blue_m);}
.title_wrap.type2 h3 .small-hd {margin-bottom:1rem; font-size: 2.6rem; font-weight: 700; font-family: var(--f_prt); color: var(--c_blue_m);}

.article_box .img_sub_intro {width: 100%; max-width:140rem; height:auto; overflow: hidden;}
.article_box .img_sub_intro img {display: block;}

.article_box .intro_txt {width: calc(100% - 35rem);}
.article_box .intro_txt p {line-height: 1.7; font-size: 1.7rem; color:#555;}
.article_box .intro_txt p strong {margin-bottom:1.5rem; font-family: var(--f_scd); font-size: 2.5rem; font-weight: 600; color:#000;}

.article_box .btn_wrap {max-width:22rem;}

.article_box.map_info {margin:0;}
.article_box.map_info:before {z-index: -1; position: absolute; left:0; display: block; content: ''; width:118rem; height:74.5rem; background:var(--bg_box1);}
.article_box .inner {padding:7rem 0;}
.article_box .inner .img_right {position: absolute; right: 0; width:119rem; height:auto; overflow: hidden;}
.article_box .inner .img_right img {display: block;}
.article_box .inner .item_wrap.map {padding: 0 84.9rem 0 0; margin: 0 auto;}

/* 관람안내 */
.tour_info_wrap {display: flex; flex-direction: column; gap: 3rem; width: 100%; max-width:140rem; margin:0 auto; font-size: 1.6rem;}
.tour_info_wrap h3 {font-family: var(--f_scd); font-size: 3.2rem; font-weight:600;}

.info_list {display: flex; justify-content: space-between; align-items: center;}
.info_list .info_item {display: flex; flex-direction: column; align-items: center; gap: 1.5rem; width: 32%;height: 35rem; padding: 3.5rem 4rem; border: .1rem solid #D6D6D6;}

.info_list .info_item .info_txt_hd {display: flex; flex-direction: column; align-items: center; gap: 2rem;}
.info_list .info_item .info_txt_hd h4 {font-size: 2rem; font-weight: 500;font-family: var(--f_scd);}

.info_icon {display: block; width: 8.2rem; height: 8.2rem; border-radius: 3rem;}
.info_icon.date {background: url('../images/contents/ico_date.svg') no-repeat 50% #F4F6F6;}
.info_icon.dayoff {background: url('../images/contents/ico_dayoff.svg') no-repeat 50% #F4F6F6;}
.info_icon.money {background: url('../images/contents/ico_money.svg') no-repeat 50% #F4F6F6;}

.info_txt {display: flex; flex-direction: column; gap: 1rem; width: 100%; margin-top: 2rem;}
.info_txt::before {display: block; content: ''; margin-bottom: 2rem; border-top:.1rem solid #E4E4E4;}
.info_txt .depth1 {display: flex; justify-content: flex-start; gap: 1.5rem; line-height: 1.5;}
.info_txt .depth1 strong {min-width: 4.5rem; font-size: 1.7rem; font-family: var(--f_scd);font-weight: 500;}
.info_txt .depth1 .depth2 li {line-height: 1.6; letter-spacing: -0.02rem;}
.info_txt .depth1 .depth2 .tx-big {line-height: 1.1;font-size: 2.4rem; font-weight: 600;}

.etiqu_list {display: flex; flex-wrap: wrap; gap: 1rem;padding: 5rem 7rem;background:var(--bg_box2);}
.etiqu_list .etiqu_item {display: flex; align-items: center; gap: 4rem; min-width: 60rem; margin-bottom: 4rem;}
.etiqu_list .etiqu_item:last-child {margin-bottom:0;}

.etiqu_list .etiqu_item p {width:calc(100% - 12rem);}

.left_icon {position: relative;display: flex;justify-content: center;align-items: center;width: 8rem; height: 8rem;border: .1rem solid #FFD6DC; border-radius: 8rem;}
.left_icon:before {position: absolute;display: block;content: '';width: 8rem;height: 8rem;border: 1.2rem solid #FCE8EB;border-radius: 8rem;top: -1.3rem;left: -1.3rem;}
.left_icon.ico1 {background: url('../images/contents/icon_1.svg') no-repeat 50% #fff;}
.left_icon.ico2 {background: url('../images/contents/icon_2.svg') no-repeat 50% #fff;}
.left_icon.ico3 {background: url('../images/contents/icon_3.svg') no-repeat 50% #fff;}
.left_icon.ico4 {background: url('../images/contents/icon_4.svg') no-repeat 50% #fff;}
.left_icon.ico5 {background: url('../images/contents/icon_5.svg') no-repeat 50% #fff;}

.tour_info_wrap.type2 {flex-direction: row; justify-content: space-between; margin:5rem auto;}
.tour_info_wrap.type2:first-child {margin-top:0;}
.tour_info_wrap.type2:last-child {margin-bottom:0;}

.tour_info_wrap.type2 h3 {width: 28rem;}
.tour_info_wrap.type2 .tx-right {width: calc(100% - 56rem); line-height: 1.8; font-size: 1.7rem;}

.tour_info_wrap.type2 .call_box {display: flex; align-items: center; gap: 1rem; margin-top: 2rem;}
.tour_info_wrap.type2 .call_box i {display: block; width: 2.5rem; height: 2.5rem; background: url('../images/contents/ico_call.svg') no-repeat 50%;}
.tour_info_wrap.type2 .call_box strong {display: flex; flex-direction: row; align-items: center;gap: 1rem;font-family: var(--f_scd); font-weight: 500;}
.tour_info_wrap.type2 .call_box strong:after {display: block; content: ''; height: 1.5rem; border-right: 1px solid #ddd;}

.line_mid {display: block; width: 100%; max-width:140rem; margin:0 auto; border-top:.1rem solid #E4E4E4;}

/* sub - content bg - shape */
.shape {z-index: -1; position: absolute; top:4%; right:0; display: block; content: '';}
.shape.yel {width:31.7rem;}
.shape.pur {width:37.2rem;}

/* 애니메이션 */
.trigger {opacity: 0; transform: translateY(10vh); transition: all 1s;}
.trigger.active {opacity: 1;transform: translateY(0);}

.trigger.col-box__l {opacity: 0; transform: translateX(-10vw); transition: all 1s;}
.trigger.col-box__r {opacity: 0; transform: translateX(10vw); transition: all 1s;}
.trigger.active.col-box__l, .trigger.active.col-box__r {opacity: 1;transform: translateX(0);}


/*반응형*/
@media only screen and (max-width:1400px){
	.article_box {margin-bottom:5rem;}

	.item_wrap,
	.title_wrap,
	.tour_info_wrap {width:90%; height: auto; margin: 8rem auto;}

	.article_box.map_info:before {display: none;}
	.article_box.map_info .inner {display: flex; flex-direction: column-reverse; gap: 4rem; padding: 5rem; background: var(--bg_box1);}
	.article_box.map_info .inner .img_right {position: initial; width: 80%; margin: 0 auto;}
	.article_box.map_info .inner .item_wrap.map {width: 80%; padding: 0;}

	.info_list .info_item {padding: 3rem;}

	.etiqu_list .etiqu_item {width: 100%; min-width: initial;}

	.tour_info_wrap.type2 .tx-right {width: calc(100% - 38rem);}
}

@media only screen and (max-width:1280px){
	.info_txt .depth1 .depth2 .tx-big {line-height: 1.3;font-size: 2rem;}
}

@media only screen and (max-width:1000px){
	.info_list {flex-direction: column; gap: 2rem;}
	.info_list .info_item {flex-direction: row; width: 100%; height: auto;}
	.info_list .info_item .info_txt_hd {flex-direction: row; justify-content: space-between; gap: 1rem; width: 24rem;}
	.info_list .info_item .info_txt_hd::after {display: block; content: ''; height:6rem; border-left:.1rem solid #E4E4E4;}
	.info_list .info_item .info_txt {width: calc(100% - 24rem); margin:0;}
	.info_list .info_item .info_txt::before {display: none;}
	.info_list .info_item .info_txt .depth1 .depth2 {display: flex;flex-direction: row;align-items: center; gap: 1rem;}
}

@media only screen and (max-width: 880px){
	.item_wrap.type2 {flex-direction: column; gap: 3rem;}
	.article_box .intro_txt {width: 100%;}

	.shape {top:3%;}
	.shape.yel, .shape.pur {width: 26rem;}

	.trigger.col-box__l, .trigger.col-box__r {opacity: 0; transform: translateY(10vh); transition: all 1s;}
	.trigger.active.col-box__l, .trigger.active.col-box__r {opacity: 1;transform: translateY(0);}	
}

@media only screen and (max-width: 760px){
	.info_list .info_item .info_txt .depth1 .depth2 {flex-direction: column;align-items: flex-start;gap: initial;}

	.tour_info_wrap.type2 {flex-direction: column;}
	.tour_info_wrap.type2 .tx-right {width: 100%;}

}

@media only screen and (max-width: 700px){
	.shape.yel, .shape.pur {width: 15rem;}
}

@media only screen and (max-width: 630px){
	.info_list .info_item {gap: 2.5rem; padding: 3rem 2rem;}
	.info_list .info_item .info_txt_hd {flex-direction: column; gap: 1rem; width: 15rem;}
	.info_list .info_item .info_txt_hd::after {display: none;}
	.info_list .info_item .info_txt {width: calc(100% - 14rem);}
}

@media only screen and (max-width: 500px){
	.info_list .info_item {flex-direction: column; padding: 3.5rem;}
	.info_list .info_item .info_txt_hd, .info_list .info_item .info_txt {width: 100%;}
	.info_list .info_item .info_txt::before {display: block;}

	.title_wrap.type2 h3 {font-size: 6rem;}
	.title_wrap.type2 h3 .blue {display: block;}
}

@media only screen and (max-width: 400px){
	.etiqu_list {padding: 4rem 2rem;}
	.etiqu_list .etiqu_item {flex-direction: column;}
	.etiqu_list .etiqu_item p {width:100%;}
	.tour_info_wrap h3 {font-size: 2.5rem;}
}